.btn-light {
  min-width: 245px;
  padding: 25px 48px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font);
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    background-color: var(--white);
    color: var(--mirage);
  }
  &:active {
    background-color: var(--white);
    color: var(--mirage);
  }
}

.btn-dark {
  padding: 25px 48px;
  border: 1px solid var(--cod);
  background-color: transparent;
  color: var(--cod);
  font-family: var(--font);
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms ease;

  &:hover {
    background-color: var(--cod);
    color: var(--white);
  }
  &:active {
    background-color: var(--cod);
    color: var(--white);
  }
}
